<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./includes/header") %>
    <main>
      <section id="tasks">
        <% if (tasks.length > 0) { %>
        <h2>List of Task</h2>
        <% tasks.forEach(task => { %> <% if (!task.isComplete) { %>
        <article class="inconplete">
          <h2><%= task.title %></h2>
          <p>
            Assign: <%= task.user.username %> <img src="<%= task.user.avatar ?
            "/upload/"+task.user.avatar:"/assets/avatar.png" %>" alt="Avatar for
            user <%= task.user.username %>">
          </p>
          <% if (task.user.id == user.id) { %>
          <form action="/tasks/change?m=PUT" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-check"></i></button>
          </form>
          <% } %> <% if (user.isAdmin) { %>
          <form action="/tasks/edit" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-pen"></i></button>
          </form>
          <form action="/tasks/remove?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-trash"></i></button>
          </form>
          <% } %>
        </article>
        <% } else { %>
        <article class="complete">
          <h2><%= task.title %></h2>
          <p>
            Assign: <%= task.user.username %> <img src="<%= task.user.avatar ?
            "/upload/"+task.user.avatar:"/assets/avatar.png" %>" alt="Avatar for
            user <%= task.user.username %>">
          </p>
          <% if (task.user.id == user.id) { %>
          <form action="/tasks/change?m=PUT" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-times"></i></button>
          </form>
          <% } %> <% if (user.isAdmin) { %>
          <form action="/tasks/edit" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-pen"></i></button>
          </form>
          <form action="/tasks/remove?m=DELETE" method="post">
            <input type="hidden" name="id" value="<%= task.id %>" />
            <button type="submit"><i class="fa-solid fa-trash"></i></button>
          </form>
          <% } %>
        </article>
        <% } %> <% }) %> <% } else { %>
        <h2>List of Task</h2>
        <p>No more task</p>
        <% } %>
      </section>
      <nav id="pagination">
        <% if (page > 0) { %>
        <a href="/tasks?page=<%= page - 1 %>">
          prev <i class="fa-solid fa-arrow-left"></i>
        </a>
        <% } %> <% if (next) { %>
        <a href="/tasks?page=<%= page + 1 %>">
          next <i class="fa-solid fa-arrow-right"></i>
        </a>
        <% } %>
      </nav>
    </main>
  </body>
</html>
