<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("./includes/header") %>
    <main>
      <form action="/save" method="post" enctype="multipart/form-data">
        <fieldset>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="<%=
          locals.errors && !errors.username ? data.username: "" %>"> <% if
          (locals.errors && errors.username) { %>
          <span class="error"> <%= locals.errors.username.msg %> </span>
          <% } %>
        </fieldset>
        <fieldset>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="<%= locals.errors
          && !errors.email ? data.email: "" %>"> <% if (locals.errors &&
          errors.email) { %>
          <span class="error"> <%= locals.errors.email.msg %> </span>
          <% } %>
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <% if (locals.errors && errors.password) { %>
          <span class="error"> <%= locals.errors.password.msg %> </span>
          <% } %>
        </fieldset>
        <fieldset>
          <label for="avatar">Avatar</label>
          <input type="file" name="avatar" id="avatar" />
        </fieldset>
        <button type="submit">Save</button>
      </form>
    </main>
  </body>
</html>
